<h1>Catalog</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Name</th>
            <td>{{ entity.name }}</td>
        </tr>
        <tr>
            <th>Depth</th>
            <td>{{ entity.depth }}</td>
        </tr>
        <tr>
            <th>Sort</th>
            <td>{{ entity.sort }}</td>
        </tr>
        <tr>
            <th>Stat</th>
            <td>{{ entity.stat }}</td>
        </tr>
        <tr>
            <th>Published_at</th>
            <td>{{ entity.publishedat|date('Y-m-d H:i:s') }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('catalog') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('catalog_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('catalog_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
